$primary-color: #6b717f;
$background-color: #fff;
$secondary-color: #8C8C8C;


$general-padding: 16px;
$padding-main: padding-top 0px padding-bottom 0px;



@mixin box-shadow($color) {
        -webkit-box-shadow: 10px 10px 15px -4px $color;
        -moz-box-shadow: 10px 10px 15px -4px $color;
        box-shadow: 10px 10px 15px -4px $color;
}